@font-face {
    font-family: BogartBold;
    src: url(../../Assets/Bogart-Bold-trial.ttf);
}
@font-face {
    font-family: BogartRegular;
    src: url(../../Assets/Bogart-Regular-trial.ttf);
}

.Home {
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(/src/Assets/computer_bg_2.jpg);
    background-size: cover;
}

.HomeTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.HomeInfo {
    width: 45%;
    box-sizing: border-box;
    padding: 20px;
}
.HomeInfo h1 {
    font-size: 5.2rem;
    margin: 50px 0 0 0;
    color: #009ffd;
    margin-top: 50px;
}
.HomeInfo h2 {
    font-size: 4rem;
    margin: 0;
    color: #009ffd;
}
.HomeInfoParagraph {
    margin: 20px auto;
    max-width: 500px;
    text-align: left;
}

#Name {
    padding-left: 20px;
}

@media only screen and (max-width: 1080px) {
    .Home {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .HomeImage {
        width: 100%;
        padding: 10px;
    }
    .HomeImagePlaceholder {
        width: 60vw;
        height: 40vw;
        max-width: 450px;
        max-height: 300px;
    }

    .HomeInfo {
        width: 90vw;
        max-width: 700px;
        padding: 10px;
    }
    .HomeInfoParagraph {
        max-width: 700px;
        font-size: 0.9rem;
    }

    .HomeInfo h2 {
        font-size: 3.6rem;
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .HomeInfo h1 {
        font-size: 4.2rem;
    }
    .HomeInfo h2 {
        font-size: 3.2rem;
        padding: 10px;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .HomeInfo {
        padding: 0;
    }
    .HomeImage {
        padding: 0;
    }
    .HomeImagePlaceholder {
        width: 82.5vw;
        height: 55vw;
        max-width: 600px;
        max-height: 400px;
    }
    .HomeInfo h1 {
        font-size: 3.8rem;
    }
    .HomeInfo h2 {
        font-size: 3rem;
        padding: 0;
    }
}

@media only screen and (max-width: 400px) {

    .HomeInfo h1 {
        font-size: 3.2rem;
    }
    .HomeTitle {
        flex-direction: column;
    }
    
    #Name {
        padding-left: 0;
    }
}