@font-face {
    font-family: BogartBold;
    src: url(../../Assets/Bogart-Bold-trial.ttf);
}
@font-face {
    font-family: BogartRegular;
    src: url(../../Assets/Bogart-Regular-trial.ttf);
}

.Home {
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.HomeTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.HomeInfo {
    width: 60%;
    box-sizing: border-box;
    padding: 50px;
}
.HomeInfo h1 {
    font-family: BogartBold, 'Catamaran', sans-serif;
    font-size: 4.8rem;
    margin: 0;
}
.HomeInfo h2 {
    font-family: BogartRegular, 'Catamaran', sans-serif;
    font-size: 3.6rem;
    margin: 0;
    color: #11468f;
}
.HomeInfoParagraph {
    margin: 20px auto;
    max-width: 500px;
    text-align: left;
}

.HomeImage {
    width: 40%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 50px;
}

.HomeImagePlaceholder {
    width: 42vw;
    height: 28vw;
    max-width: 600px;
    max-height: 400px;
}

.HomeImagePlaceholderMobile {
    width: 75vw;
    height: 50vw;
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;
    display: none;
}

#Name {
    padding-left: 20px;
}

@media only screen and (max-width: 1080px) {
    .Home {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .HomeImage {
        width: 100%;
        padding: 10px;
    }
    .HomeImagePlaceholder {
        width: 60vw;
        height: 40vw;
        max-width: 450px;
        max-height: 300px;
    }

    .HomeInfo {
        width: 90vw;
        max-width: 700px;
        padding: 10px;
    }
    .HomeInfoParagraph {
        max-width: 700px;
        font-size: 0.9rem;
    }

    .HomeInfo h2 {
        font-size: 2.6rem;
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .HomeInfo h1 {
        font-size: 4rem;
    }
    .HomeInfo h2 {
        font-size: 2.6rem;
        padding: 10px;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .HomeInfo {
        padding: 0;
    }
    .HomeImage {
        padding: 0;
    }
    .HomeImagePlaceholder {
        width: 82.5vw;
        height: 55vw;
        max-width: 600px;
        max-height: 400px;
    }
    .HomeInfo h1 {
        font-size: 3.4rem;
    }
    .HomeInfo h2 {
        font-size: 2.4rem;
        padding: 0;
    }
}

@media only screen and (max-width: 400px) {

    .HomeInfo h1 {
        font-size: 3rem;
    }
    .HomeTitle {
        flex-direction: column;
    }
    
    #Name {
        padding-left: 0;
    }
}