@font-face {
    font-family: BogartBold;
    src: url(../../Assets/Bogart-Bold-trial.ttf);
}
@font-face {
    font-family: BogartRegular;
    src: url(../../Assets/Bogart-Regular-trial.ttf);
}

.Home {
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: black;
    overflow: hidden;
}
.HomeInfo {
    width: 45%;
    box-sizing: border-box;
    padding: 20px;
}
.HomeInfo h1 {
    font-size: 4.2rem;
    margin: 50px 0 0 0;
    color: #ffa034;
    margin-top: 50px;
}
.HomeInfo h2 {
    font-size: 4.4rem;
    margin: 0;
    color: #AD51B4;
}

.HomeImg {
    width: 55%;
}

.HomeImg img {
    width: 80%;
}

@media only screen and (max-width: 1080px) {
    .Home {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .HomeImg {
        width: 40%;
    }

    .HomeInfo {
        width: 90vw;
        max-width: 700px;
        padding: 10px;
    }
    .HomeInfo h1 {
        font-size: 3.8rem;
        margin: 0;
    }

    .HomeInfo h2 {
        font-size: 4rem;
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .HomeInfo h1 {
        font-size: 3.6rem;
    }
    .HomeInfo h2 {
        font-size: 3.8rem;
        padding: 10px;
    }
    .HomeImg {
        width: 50%;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .HomeInfo {
        padding: 0;
    }
    .HomeInfo h1 {
        font-size: 3.2rem;
    }
    .HomeInfo h2 {
        font-size: 3.4rem;
        padding: 0;
    }
    .HomeImg {
        width: 65%;
    }
}

@media only screen and (max-width: 400px) {

    .HomeInfo h1 {
        font-size: 3.2rem;
    }
    .HomeInfo h2 {
        font-size: 3rem;
    }
    
}