.SkillBoard {
    width: 768px;
    background-color: #DBF3FA;
    margin: 0 auto 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 2px 2px black;
}

.SkillBoard h3 {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
.SkillBoard h4 {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .SkillBoard {
        width: 90vw;
    }
}