.ActionButton {
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 1px 1px #36454f;
    cursor: pointer;
    background-color: #da1212;
    color: white;
    font-weight: bold;
}

.ActionButton:hover {
    background-color: #11468f;
    transition: 0.3s;
}
