.ActionButton {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #009ffd; 
    color: white;
    font-family: 'Bebas Neue', 'Catamaran', sans-serif;
}

.ActionButton:hover {
    background-color: #9AF58A;
    transition: 0.3s;
    color: #002E7A;
}
