.ActionButton {
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 1px 1px #36454f;
    cursor: pointer;
    background-color: #da1212;
    color: white;
    font-family: 'Bebas Neue', 'Catamaran', sans-serif;
}

.ActionButton:hover {
    background-color: #9AF58A;
    transition: 0.3s;
    color: #002E7A;
}
